@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #030712;
  color: white;
}

.responsiveContainer {
  display: flex;
}

@media (max-width: 768px) {
  .responsiveContainer {
    display: none;
  }
} 